@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    color:blue;
}

@font-face { font-family: 'Fira Sans'; 
    src: url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); } 

.center {
    float:left;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 90vw;
    min-height: 90vh;
    align-content: space-around;
}

.login-card {
    margin-left: 20vw;
    position: relative;
    z-index: 1;
    border-radius: 115px;
    background-color: #F0FDFE;
    border: 20px solid #F0FDFE;
    box-shadow: 0px 3px 4px 0px rgba(79, 79, 79, 0.465);
    width: 600px;
    height: 300px;
}

.login-card #content {
    font-family: 'Fira Sans';
    position: relative;
    z-index:3;
    background-color: #C2F2F5;
    border-radius: 115px;
    width: 600px;
    height: 310px;
    top: -1vh;
    margin-right:20vw;
}

#content h2 {
    letter-spacing: 4px;
    font-size: 37px;
    background-color: #51A1A7;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text; 
}

.login-content {
    padding-top: 20px;
}

.login-content input {
    font-family: 'Fira Sans';
    font-size: 30px;
    color: #51A1A7;
    text-align: center;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color:rgba(225, 247, 248, 0.465);
    width: 300px;
    height: 100px;
    margin-right: 10px;
}

button {
    font-family: 'Fira Sans';
    color: #4E9A9F;
    font-size: 27px;
    font-style: oblique;
    letter-spacing: 2px;
    background-color: #FFF373;
    border-radius: 10px;
    border-color:rgba(238, 254, 255, 0.465);
    width: 150px;
    height: 80px;
}

.login-sun {
   width: 40%;
   z-index: 2;
   top: -7vw;
   right: -12vh;
   position: absolute; 
}