@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face { font-family: 'Fira Sans'; 
    src: url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); } 

h1 {
    color:blue;
}

body {
    background-image: url('./icons/1349543.png');
}

.center {
    float:left;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 90vw;
    min-height: 90vh;
    align-content: space-around;
}

.weather-page {
    margin-left: 8vw;
}

.card-bg {
    margin-left: 25vw;
    margin-top: 10vh;
    position: relative;
    z-index: 1;
    border-radius: 115px;
    background-color: #F0FDFE;
    border: 20px solid #F0FDFE;
    box-shadow: 0px 3px 4px 0px rgba(79, 79, 79, 0.465);
    width: 600px;
    height: 300px;
}

.weather {
    position:relative;
    float:left;
    margin-top: 0vh;
    margin-right: 3vw;
    margin-left: 0vw;
    width: 700px;
    height: 500px;
}

.card-bg #content {
    font-family: 'Fira Sans';
    position: relative;
    z-index:3;
    background-color: #C2F2F5;
    border-radius: 115px;
    width: 600px;
    height: 310px;
    top: -1vh;
    margin-right:20vw;
    box-shadow: 0px 3px 4px 0px rgba(79, 79, 79, 0.465);
}

.card-bg .weather-content {
    float:left;
    font-family: 'Fira Sans';
    position: relative;
    z-index:3;
    background-color: #C2F2F5;
    border-radius: 115px;
    width: 700px;
    height: 500px;
    top: -1vh;
    margin-right:20vw;
    box-shadow: 0px 3px 4px 0px rgba(79, 79, 79, 0.465);
}

.stored-hub {
    width: 400px;
    height: 500px;
}

.card-bg .stored-hub {
    float:left;
    font-family: 'Fira Sans';
    position: relative;
    z-index:3;
    background-color: #C2F2F5;
    border-radius: 115px;
    width: 400px;
    height: 500px;
    top: -1vh;
    box-shadow: 0px 3px 4px 0px rgba(79, 79, 79, 0.465);
}

h2 {
    font-family: 'Fira Sans';
    letter-spacing: 4px;
    font-size: 37px;
    background-color: #51A1A7;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text; 
}

.weather-page h2 {
    font-family: 'Fira Sans';
    letter-spacing: 4px;
    font-size: 37px;
    background-color: #f8ffff;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(43, 106, 152, 0.5);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text;
    margin-left: 0px;
}

h3 {
    font-family: 'Fira Sans';
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 25px;
    color: #51A1A7;
}

.searched-div {
    padding-top: 1vw;
}

#searched-cities {
    padding-left: 3vw;
    text-align: left;
}

.login-content {
    padding-top: 20px;
}

.login-content input {
    font-family: 'Fira Sans';
    font-size: 30px;
    color: #51A1A7;
    text-align: center;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color:rgba(225, 247, 248, 0.465);
    width: 300px;
    height: 100px;
    margin-right: 10px;
}

.login-button input {
    font-family: 'Fira Sans';
    color: #4E9A9F;
    font-size: 27px;
    font-style: oblique;
    letter-spacing: 2px;
    background-color: #FFF373;
    border-radius: 10px;
    border-color:rgba(238, 254, 255, 0.465);
    width: 150px;
    height: 80px;
}

form button {
    font-family: 'Fira Sans';
    color: #4E9A9F;
    font-size: 27px;
    font-style: oblique;
    letter-spacing: 2px;
    background-color: #FFF373;
    border-radius: 10px;
    border-color:rgba(238, 254, 255, 0.465);
    width: 150px;
    height: 80px;
}

.login-sun {
   width: 40%;
   z-index: 2;
   top: -7vw;
   right: -12vh;
   position: absolute; 
}

form {
    display:flex;
    align-items: center;
}

.login-form {
    margin-left: 5vw;
}

.city-form {
    padding-top: 20px;
    margin-left: 11vh;
    margin-bottom: 1vw;
}

.city-form input{
    font-family: 'Fira Sans';
    font-size: 30px;
    color: #51A1A7;
    text-align: center;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color:rgba(225, 247, 248, 0.465);
    width: 300px;
    height: 60px;
    margin-right: 10px;
}

.city-form form button {
    font-size: 25px;
    width: 150px;
    height: 60px;
}

.attributes {
    float:left;
    align-items: center;
    width: 300px;
    height: 500px;
    margin-left: 4vw;
}

.attribute {
    font-family: 'Fira Sans';
    font-size: 30px;
    background-color: #F0FDFE;
    color: #51A1A7;
    text-align: center;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color:rgba(225, 247, 248, 0.465);
    width: 320px;
    height: 60px;
    margin-right: 10vw;
    margin-top: 3vh;
    float:left;
    padding: 0;
}

.attribute p {
    margin-top: 10px;
}

.results {
    float:left;
    align-items: center;
    width: 300px;
    height: 500px;
}

.result {
    font-size: 30px;
    background-color: #85C2C5;
    color: #F0FDFE;
    text-align: center;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color:rgba(225, 247, 248, 0.465);
    width: 250px;
    height: 60px;
    margin-right: 10vw;
    margin-top: 3vh;
    margin-left: 3vw;
    float:left;
}

.result p {
    margin-top: 10px;
}